@import "../helpers/helpers.scss";

.main_header {
	@extend %full_overlay;
	@extend %f_r_aj_center;
	width: 100%;
	height: 92px;
	position: fixed;
	z-index: 20;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
	@include lg-down {
		height: 85px;
	}
	@include sm-down {
		height: 70px;
	}
	.main_header_wrap {
		@extend %f_r_aj_center;
		justify-content: space-between;
		@include sm-down {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
		}
		.logo_sec {
			margin-bottom: 12px;
			@include lg-down {
				margin-top: 6px;
				margin-bottom: 6px;
			}
			@include sm-down {
				margin-top: 3px;
				margin-bottom: 0;
				text-align: center;
			}
			img {
				@include sm-down {
					width: 100% !important;
				}
			}
		}

		.menu_wrap {
			@extend %f_r_aj_center;
			justify-content: space-between;
			column-gap: 82px;
			@include lg-down {
				position: fixed;
				left: -100%;
				top: 0;
				width: 100%;
				height: 100vh;
				flex-direction: column;
				justify-content: center;
				gap: 20px;
				background-color: var(--color_white);
				z-index: -1;
				opacity: 0;
				visibility: hidden;
				overflow-y: auto;
				transition: all 0.5s ease;
			}
			&.active {
				@include lg-down {
					left: 0;
					opacity: 1;
					visibility: visible;
				}
			}

			.menu_sec {
				.menu_items {
					display: inline-flex;
					gap: 20px;
					list-style: none;
					@include lg-down {
						flex-direction: column;
						align-items: center;
					}
					a {
						color: var(--color_black);
						transition: all 0.4s ease-out;
						&:hover {
							color: var(--color_primary);
						}
						&.active {
							color: var(--color_primary);
						}
					}
				}
			}
			.buttons_sec {
				display: inline-flex;
				align-items: center;
				gap: 20px;
				@include lg-down {
					flex-direction: column;
				}

				a {
					color: var(--color_black);
					transition: all 0.4s ease-out;
					&:hover {
						color: var(--color_primary);
					}
					&:last-child {
						@include lg-down {
							display: none;
						}
					}
				}
			}

			.logbtn {
				@include md-down {
					display: none;
				}
			}
		}
		.buttons_sec_mobile {
			display: none;
			@include lg-down {
				display: inline-block;
			}
			@include sm-down {
				display: flex;
				justify-content: flex-end;
				text-align: end;
			}
			a {
				color: var(--color_black);
				transition: all 0.4s ease-out;
				&:hover {
					color: var(--color_primary);
				}
			}
		}
		.hamIcon {
			@extend %relative_box;
			width: 30px;
			height: 20px;
			display: none;

			@include lg-down {
				display: block;
			}
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #000;

				&:nth-child(1) {
					top: 0;
				}
				&:nth-child(2) {
					@extend %rel_y_center;
				}
				&:last-child {
					bottom: 0;
				}
			}

			&.active {
				span {
					&:nth-child(1) {
						top: 9px;
						transform: rotate(45deg);
					}

					&:nth-child(2) {
						opacity: 0;
					}

					&:last-child {
						bottom: 9px;
						transform: rotate(-45deg);
					}
				}
			}
		}

		.avatar {
			@extend %relative_box;
			width: 45px;
			border: 2px solid var(--color_border_grey_dark);
			border-radius: 50%;
			padding: 5px;
			cursor: pointer;

			.profileWrap {
				background-color: var(--color_white);
				position: absolute;
				top: 130%;
				left: 0;
				width: fit-content;
				border: 2px solid var(--color_border_grey_dark);
				transform: translateY(-100%);
				opacity: 0;
				transition: all 0.3s linear;
				z-index: -1;

				@include lg-down {
					left: unset;
					right: 0;
				}

				.profileBtn {
					padding: 5px 20px;
					cursor: pointer;

					a,
					p {
						white-space: nowrap;
						transition: all 0.3s linear;
					}

					&:nth-child(1) {
						border-bottom: 2px solid var(--color_border_grey_dark);
					}

					&:hover {
						a,
						p {
							color: var(--color_primary);
						}
					}
				}
			}

			&.active {
				.profileWrap {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}
